body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 0px;
}

.search-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    left: 150px;
}
.search-box {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 25px;
    left: 150px;
}
.search-button {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 15px;
    left: 150px;
}
.search-butto2 {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 15px;
    left: 250px;
}

.logo {
    font-size: 10px;
    color: black;
    position: absolute;
    top: 20px;
    
}

.login-link {
    color: grey;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.action-link {
    color: grey;
    font-size:12px;
    text-decoration: none;
}

.action-link:visited {
    color: gray;
}

.action-link:hover {
    text-decoration: underline;
}

.user-link {
    color: #25383C;
    text-decoration: none;
}
.user-link:visited {
    color: #25383C;

}
.user-link:hover {
    text-decoration: underline;
}

.thing-link {
    color: #3090C7;
    text-decoration: none;
}
.thing-link:visited {
    color: #3090C7;

}
.thing-link:hover {
    text-decoration: underline;
}

.thing-heading-link {
    color: black;
    font-size:24px;
    text-decoration: none;
}
.thing-heading-link:visited {
    color: black

}
.thing-heading-link:hover {
    text-decoration: underline;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    background: silver;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.main-title:hover {
	text-decoration: underline;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 2px solid #c0c0c0;;
}

.answer-heading {
    position: relative;
    border-bottom: 1px solid #e0e0e0; 
    #b0b0b0;   
    #c0c0c0;;
}
.question-heading {
    position: relative;
    border-bottom: 2px solid #c0c0c0;;
}

.post-title {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.post-topics {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
    width:300px; 
    height:75px; 
    
}

.textarea {
    margin-top: 5px;
    width:300px; 
    height:75px; 
    
}

.input {
    #border: 1px solid black;
    #background: #2554C7;
    width:75px; 
    height:20px;
    font-size:18px
}
.input-heading {
    #border: 1px solid black;
    #background: #2554C7;
    width:75px; 
    height:30px;
    font-size:18px
}
.input:hover {
    #border: 1px solid #15317E;
    #background: #15317E;
}
.button {
    border: none;
    background: url('/forms/up.png') no-repeat top left;
    padding: 2px 8px;
}
.button:hover {
    border: none;
    background: url('/forms/down.png') no-repeat top left;
    padding: 2px 8px;
}
label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }