<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Cravel</title>

</head>

<body>
<tr>
<td>
  <div class="logo">
  	<a href="/" class="main-title">
  	  Cravel
  	</a>
  </div>
</td>
<td>
  <div class="search-box">
	  <form action='' method="get">
	  	<input class="search-text" style="font-size:16px" type='text' name="search" placeholder="Search Questions, Trips and Destination"/>
	  	<input class='input-heading' type='submit' style="font-size:16px" value='Search'/>
	  </form>
  </div>
</td>
<td>
  <div class="login-area">
    {% if user %}
        <a class="login-link" href="/question">Ask a Question</a>&nbsp;|
        <a class="login-link" href="/destination">Add a Destination</a>&nbsp;|
        <a class="login-link" href="/trip">Add a Trip</a>&nbsp;|
      <!--<a class="login-link" href="/_edit{{path}}">edit</a>&nbsp;|&nbsp;<a class="login-link" href="/_history{{path}}">history</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
      <a class="login-link" href="{{user.uurl}}">{{user.name}}</a>&nbsp;
      (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
</td>
</tr>
  <br>
  <br>
  <br><br>
  <div id="content">
  {% block content %}
  {% endblock %}


  </div>
</body>

</html>