		{% if view: %}
				<div class="question-heading">
					<a class="thing-heading-link" href="{{u.uurl}}">{{u.name}}'s Profile</a>
					<br><br>
					<a class="action-link" href="/_edit{{u.turl}}"><b>Edit</b></a>&nbsp;
					<a class="action-link" href="">Follows</a>&nbsp;
					<a class="action-link" href="">Friends</a>&nbsp;
					<a class="action-link" href="">Followers</a>&nbsp;
					<a class="action-link" href="">Answers</a>&nbsp;
					<a class="action-link" href="">Questions</a>&nbsp;
					<a class="action-link" href="">Trips</a>&nbsp;
					<a class="action-link" href="">Destinations</a>&nbsp;
					<a class="action-link" href="">Share Profile</a>&nbsp;
					<a class="action-link" href="">Block {{u.name}}</a>&nbsp;
					<a class="action-link" href="">Report</a>&nbsp;
				</div>
				<br>
				name - {{u.name}}<br>
				email - {{u.email}}<br>
		{% else %}
					<a class="user-link" href="{{u.uurl}}"><b>{{u.name}}</b></a>
		{%endif%}

