<div class="post">

  {%if view%}
	  <div >
		<div class='question-heading'>
			<a class="thing-heading-link"  href="{{d.durl}}">{{d.name}}</a>{{d.map|safe}}<br>Added by {{d.added_by.get().render()|safe}}<br><br>
			<a class="action-link" href="/_edit{{d.durl}}">Edit</a>&nbsp;
			<a class="action-link" href="/_comment{{d.name}}">Comment</a>&nbsp;
			<a class="action-link" href="">Share</a>&nbsp;
			<a class="action-link" href="">Redirect</a>&nbsp;

		</div>
		<br>
		{{d.description}}<br>
		Location - {{d.location}}<br><br>
		Details - {{d.details}}<br><br>

		{%for video in d.videos%}
			{{video|safe}}
		{%endfor%}
	  </div>

  {% else %}
			<a class="thing-link"  href="{{d.durl}}">{{d.name}}</a> - {{d.description}}, added by {{d.added_by.get().render()|safe}}
  {% endif %}

</div>
