<div>
  <div>
    <div >
    	{{error}}
		{% if view: %}
			<div class="question-heading">
				<a class="thing-heading-link" href="{{q.qurl}}">{{q.question}}</a> <br>Asked by {{q.added_by.get().render(view)|safe}}
				<br><br>
				<a class="action-link" href="">Edit</a>&nbsp;
				<a class="action-link" href="">Comment</a>&nbsp;
				<a class="action-link" href="">Share</a>&nbsp;
				<a class="action-link" href="">Redirect</a>&nbsp;
			</div>
		    <div>
		    	<br>
				{% if q.answers %}
				{%for anskey in q.answers%}
					{{ anskey.get().render(view) | safe }}
				{%endfor%}
				{% endif%}
				<br>
				{{ q.renderAnsForm()|safe}}
				<br><br>
		    </div>
		{% else %}
		    <div>
				<a class="thing-link" href="{{q.qurl}}">{{q.question}}</a> was asked by {{q.added_by.get().render(view)|safe}}
		    </div>
		{%endif%}


    </div>
  </div>

</div>
