{% extends "base.html" %}

{% block content %}
  <h2>Add a Destination</h2>

    <form method="post">
      <label>
        <div>Destination</div>
        Name:<input type="text" name="dname" value="{{d.name}}"><br>
        Location:<input type="text" name="dlocation" value="{{d.location}}"><br>
        Description:<input type="text" name="description" value="{{d.description}}"><br>
        Details:<input type="text" name="details" value="{{d.details}}">
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
