{% extends "base.html" %}

{% block content %}
  <h2>Add a Trip</h2>

    <form method="post">
    	<table>
		<tr>
		<td><div>Trip</div></td>
		<td>-</td>
        </tr>
        <tr>
        <td>Name:</td>
        <td><input type="text" name="tname" value="{{t.name}}"></td>
        </tr>
        <tr>
        <td>Description:</td>
        <td><input type="text" name="tdescription" value="{{t.description}}"></td>
        </tr>
        <tr>
        <td>Details:</td>
        <td><textarea class ="post-content" name="tdetails">{{t.details}}</textarea></td>
        </tr>
        <tr>
        <td>Destinations(comma seperated):</td>
        <td><input type="text" name="tdestinations" value="{{t.destinations}}"></td>
        </tr>
        <tr>
        <td>Links:</td>
        <td><input type="text" name="tlinks" value="{{t.links}}"></td>
        </tr>
        <tr>
        <td>Tags:</td>
        <td><input type="text" name="ttags" value="{{t.tags}}"></td>
        </tr>
		</table>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
